[2021-07-28 17:45] theo546 commented on #363
That's amazing! You managed to implement a feature like that in no time, that's amazing!

I got a question though, does OCSP stapling works when using certificates generated by an external software (eg: acme.sh)?

[2021-07-28 18:58] foxcpp commented on #363
Yeah. That's the problem. It works only for certificates automatically obtained using built-in ACME client now.

[2021-08-09 10:35] #239 closed, assigned to foxcpp

[2021-08-09 10:35] #268 closed, assigned to nobody

[2021-08-09 10:35] #303 closed, assigned to foxcpp

[2021-08-09 10:35] #366 closed, assigned to foxcpp

[2021-08-09 10:35] #273 closed, assigned to foxcpp

[2021-08-09 10:35] #304 closed, assigned to foxcpp

[2021-08-09 10:35] #324 closed, assigned to nobody

[2021-08-16 10:21] arisudesu opened #384 "With tutorial config, the postmaster with no domain is not a valid recipient"
# Describe the bug

With tutorial config, the postmaster with no domain is not a valid recipient.

I see that it was once described in the documentation as part of the config changes, but after several versions it is no longer in the config. As a result, it stopped working.

Perhaps it was lost in commit 81e6a3b805c4bc9bc34eda27a7af579aded90a2b? Missing block (below) is what makes it work again.
[

[2021-08-16 10:49] #384 closed, assigned to foxcpp

[2021-08-16 10:51] foxcpp commented on #384
Resolved in the referenced commit. Pending for 0.5.1.

[2021-08-16 11:01] arisudesu commented on #384
Thank you for the fix and this useful software.

[2021-08-17 20:35] espressoelf commented on #310
Coming from [Docker Hub](https://hub.docker.com/r/foxcpp/maddy) to report this being an issue again: the first command to create the user is written as
`docker run --rm -it -v maddydata:/data --entrypoint /bin/maddyctl foxcpp/maddy:latest users create foxcpp@maddy.test`
but should be
`docker run --rm -it -v maddydata:/data --entrypoint /bin/maddyctl foxcpp/maddy:latest creds create foxcpp@maddy.te

[2021-08-17 22:32] #371 closed, assigned to nobody

[2021-08-21 02:01] jpatters opened #386 "init query failed: pq: type "longtext" does not exist"
# Describe the bug

When starting maddy configured to use postgres, the error `init query failed: pq: type "longtext" does not exist` prevents it from starting.

# Steps to reproduce

Try to start maddy when configured to use postgres

# Log files

<details><summary>syslog</summary>

[code]

</details>

# Configuration file

<details><summary>maddy.conf</summary>

[code]

</details>

# Environment

[2021-08-21 06:21] foxcpp commented on #386
Ouch. It is quite embarrassing I have been aware of this little issue but forgot to include the fix in 0.5.0.

As a workaround you could manually create the table with correct data types:
[code]
then this error should not occur.

Sorry about that!

[2021-08-21 06:25] foxcpp commented on #310
Fixed. Sorry about that.

[2021-08-21 10:20] jpatters commented on #386
@foxcpp thanks for the quick response. I changed it and rebuilt from source, so I was able to work around it. It was just late so I didn't get the chance to put up a PR.
If I may use this thread to ask another quick question, I've maddy running with postgres now but get the following when I run `maddyctl imap-acct create user@example.com`.

[code]

Is this causing any issues? I can't seem to conne

[2021-08-21 10:24] foxcpp commented on #386
Unlikely. This affects only message removal using imap-msgs remove.

[2021-08-21 10:36] jpatters commented on #386
Thanks again. I found the issue and will open another ticket for it.

[2021-08-21 10:39] jpatters opened #387 "postgres connection leak (maybe sqlite3 too?)"
# Describe the bug

After running maddy with the postgres module for 15 minutes, the number of connections to postgres has climbed to 13 open connections. I first observed this after running it over night and finding there were no more available connection in the morning. By the time i finished writing this report, the number of connections had grown to 22.
The query that is causing the issue is
`

[2021-08-21 11:16] foxcpp commented on #386
I suppose we could close this one...

[2021-08-21 11:16] #386 closed, assigned to foxcpp

[2021-08-21 11:41] foxcpp commented on #387
The query output formatting seems to be messed up, can you upload it somewhere? (e.g. hastebin.com) I would like to see more connections and what state they are in.

[2021-08-21 11:48] foxcpp commented on #387
I run maddy 0.5.0 with PostgreSQL 13.4 and I do not have the same issue. The only difference seems to be you using S3 storage.

Could you also try killing the maddy process with SIGTRAP (`killall -TRAP maddy`) and uploading the output somewhere?

[2021-08-21 18:42] jpatters commented on #387
postgres connections: https://hastebin.com/awesebuday.rb

There was no output from running `killall -TRAP maddy`

I'll try without s3 as well to see if that helps. It could make sense as received messages don't seem to get stored anywhere. So maybe it's related.

[2021-08-21 18:49] foxcpp commented on #387
It should be in maddy log (wherever it is, probably systemd journal).

[2021-08-21 18:55] jpatters commented on #387
I can confirm that switching to the fs module made both of these issues go away.

Here's the output of the TRAP: https://pastebin.com/v01dy38X (thanks for the tip on where to find it)

[2021-08-21 19:10] jpatters commented on #387
The issue turns out to be that my s3 connection settings were wrong (i'm actually using linode and their docs were a bit confusing). Now that the connection is working properly both issues have been resolved.
I think the take away might be that there was no error saying that it couldn't connect. Surfacing that error would have made this easier.
In any case, thanks for the help (and for making madd

[2021-08-21 19:17] #387 closed, assigned to foxcpp

[2021-08-21 19:17] foxcpp commented on #387
Thanks for helping me troubleshoot the issue!

[2021-08-21 21:50] jpatters commented on #386
Yes. Thanks for the quick fix!

[2021-08-22 08:54] foxcpp opened #389 "Large messages are not accepted correctly"
### Discussed in https://github.com/foxcpp/maddy/discussions/388

<div type='discussions-op-text'>

<sup>Originally posted by **jpatters** August 22, 2021</sup>
I am having issues with attachments. The largest attachment I've gotten to go though successfully is 598KB. What size attachment should I be able to send/receive with the default configuration? I expected it would be 32MB based on the defa

[2021-08-22 08:59] foxcpp commented on #389
I sent a 1.2 MiB message to maddy process and it got stuck in a loop with 100% CPU use.

[2021-08-22 09:03] foxcpp commented on #389
Seems to be the regression introduced in 426c618, affecting 0.5.0.

[2021-08-22 09:39] #389 closed, assigned to foxcpp

[2021-08-22 09:58] foxcpp commented on #389
Workaround for 0.5.0 is to set `max_header_size` to something larger than `max_message_size`:
[code]

[2021-08-22 11:10] jpatters opened #390 "ExecStart path is incorrect"
# Describe the bug

The `ExecStart` path in the systemd startup script is incorrect by default.
It is set to `/usr/bin/maddy` but maddy gets installed to `/usr/local/bin/maddy` when installing via the build script.

# Environment information

* maddy version: 0.5.0 and master

[2021-08-22 11:30] #390 closed, assigned to nobody

[2021-08-25 02:04] ghost opened #392 "Add support for namecheap dns-01 challenge"
# Use case

I noticed `dns-01` challenge for the ACME client was recently added in https://github.com/foxcpp/maddy/commit/93cf4f231a4e23ea7d6fef642024b027b39e995c, this issue (selfishly) suggests adding the namecheap dns provider.

# Your idea for a solution

There is already a module for [libdns namecheap](https://github.com/libdns/namecheap), so integration with maddy should be fairly straightfo

[2021-08-25 02:12] ghost commented on #323
I'd be happy to take a first stab at this. I assume there's no real rush here, so I'll pick this up one of these weekends.

[2021-08-26 04:30] #392 closed, assigned to foxcpp

[2021-08-26 04:33] foxcpp commented on #392
Just pushed c0845fb to master that adds namecheap provider.

[2021-08-26 22:34] jpatters opened #395 "Frequent OOM issues when importing a mailbox"
# Describe the bug

I am copying the Sent mailbox, via mac Mail, from my gmail (downloaded over imap) and am getting frequent OOM crashes.

# Steps to reproduce

Not really sure. I can't really tell if it is particular messages that are causing the issue or the quantity of them.

# Log files

Mac Mail error:

[code]

<details><summary>syslog</summary>

[code]

</details>

# Configuration file

<de

[2021-08-27 08:11] foxcpp commented on #395
This one most likely indicates the server encountered a malformed MIME message. Does the error happen multiple times?

[2021-08-27 08:59] foxcpp commented on #395
07c8495ee4394fabbf5aac4df8aebeafb2fb29d8 fixes the resource leak caused by message parse errors. The remaining problem is to figure out whether it is okay for message parse to fail here and how it can be improved or fixed.

Most likely that `unexpected EOF` error is caused by a missing multipart boundary end. Need to investigate how other IMAP servers handle it (in particular what they return as B

[2021-08-27 11:43] jpatters commented on #395
That was happening while I was moving about 2000 emails so I'm not exactly sure which ones are causing the issue. I will try to find one and send it to you.

[2021-08-27 12:08] jpatters commented on #395
It does't seem to be any one message but seems like it might have something to do with messages with no subject.

[2021-08-27 12:20] jpatters commented on #395
I was seemingly able to cause a crash and get that error by copying individual messages with no subject. But then when copying the same one again it didn't happen.

[2021-08-28 01:59] jpatters commented on #395
I just tried again from master and am still getting the OOM issues.

[2021-08-28 10:13] foxcpp commented on #395
Apparently minio-go client we use for S3 turned out to also have severe problems with streaming API causing a lot more memory allocation than necessary.
* https://github.com/minio/minio-go/issues/1478
* https://github.com/minio/minio-go/issues/1473

I will see what I can do to workaround this.

[2021-08-28 10:45] jpatters commented on #395
Interesting. Thanks again!

[2021-08-28 11:32] foxcpp commented on #392
Note to self: Using github.com/libdns/namecheap increased minimum Go version to 1.16 (before it was Go 1.14.3). Documentation, etc need updating.

[2021-08-28 12:50] foxcpp commented on #395
1d3e055 and 14a441f should make S3 storage usable with <=1GB of memory.

[2021-08-28 15:35] jpatters commented on #395
Just rebuilt and tested this and wow what a difference. No memory issues and performance is way better for importing that mailbox. I'm still getting the EOF errors but at this point it is quite clear that they are unrelated. With the performance gain it will make it easier for me to debug that issue.
Once again, thanks.

[2021-08-29 10:41] foxcpp commented on #395
Got messages you sent. Strangely, after removing Apple Mail's XML I was able to successfully add them to a IMAP mailbox without any errors. I guess something is off with the way Apple Mail's saved messages.

I would need some more help from you. Enable I/O tracing:
[code]
This should save to log everything IMAP server receives as-is along with any errors it causes. Then try adding messages that ca

[2021-08-30 19:32] foxcpp commented on #395
The message as printed in the log seems to be oddly truncated for unknown reason.

[code]

To be honest, I have no ideas why this might happen.

[2021-08-30 23:20] jpatters commented on #395
I'll try another email client in case it's an issue with Apple mail. I'll let you know what I find.

[2021-08-31 02:37] jpatters commented on #395
The same thing happens when transferring the email using thunderbird. So it's not the client mangling it. Looking at the source in gmail, that's how the email ends. It ends with an unfinished img tag. Is maddy parsing the contents of the email? How does it decided when the EOF is expected or not? In gmail it displays the email fine except that there is a partial img tag printed out in plain text a

[2021-08-31 08:41] foxcpp commented on #395
maddy expects a well-formed MIME structure. I guess BodyStructure parser should be modified to accept malformed messages and handle them in some way.

CC @emersion

[2021-09-11 00:17] juneflowers opened #396 "Unable to start Maddy without root"
Hi I've been trying all day to get maddy working without root but i've had no luck. I'm trying to set it up on a fresh debian bullseye vps. I'm using the latest maddy binaries and created the maddy user as specified in the tutorial. No matter what I do even if I chmod 777 the directories maddy needs access to it returns the following. I'm only able to successfully start and use maddy with "sudo ma

[2021-09-11 00:19] juneflowers commented on #396
Want to mention that its fully setup and functioning(SPF, DKIM, DMARC, DNSSEC, DANE, MTA-STS) otherwise once I sudo it. I've sent and received emails and even imported 6000 emails into it and score a 10/10 on mail-tester. The only problem is running it with systemd.

[2021-09-11 00:56] juneflowers commented on #396
Just going to run it in docker instead. It works correctly there.

[2021-09-11 00:56] #396 closed, assigned to nobody

[2021-09-11 09:51] zhangkaizhao commented on #396
Hello. I had maddy running without systemd a few days ago in my Gentoo Linux box. I fellow the instructions in <https://maddy.email/tutorials/setting-up/> and at last I got a working OpenRC service script like this:
[code]
Hope it can help people who want to run maddy without systemd specially on Gentoo Linux.

Note there is an extra instruction for non-root process maddy to bind priviledged ports

[2021-09-11 16:50] tino commented on #373
Doesn't it make more sense to use Vault instead of Consul?

[2021-09-11 19:56] foxcpp commented on #396
@ducky710 it might do something to do with pedantic sandboxing configuration applied in the systemd unit. Could you check if there are any errors related to unit file parsing in the journal (should appear after `systemctl daemon-reload`)?

[2021-09-11 19:57] foxcpp commented on #373
To be honest, I am not familiar with either of these technologies. Probably?

[2021-09-17 18:48] greengekota opened #401 "1:N address expansion"
# Use case

It it described on [wikipedia](https://en.wikipedia.org/wiki/Email_forwarding#Server-based_forwarding):

- Role-addresses
  info, sales, postmaster, and similar names[6] can appear to the left of @ in email addresses. An organization may forward   messages intended for a given role to the address of the person(s) currently functioning in that role or office.

- Multiple, or discontinue

[2021-09-17 19:06] foxcpp commented on #401
maddy supports forwarding ("address rewriting") but it is currently limited to 1-to-1. That is, root@domain.com could be aliased to alice@domain.com or bob@domain.com or bob@otherdomain.com (requires additional configuration if otherdomain.com is not handled by the same server, https://maddy.email/tutorials/alias-to-remote/).

[2021-09-17 19:11] greengekota commented on #401
Yes my interest is in the other situations, such as 1:n with n greater than one. My main problem right now is that I would like to have mail addressing postmaster being read by more than one person. And for 1:1, in the situation it would be nice to have a copy of the mail both in root@domain.com mail storage and in the one of bob@otherdomain.com .

[2021-09-18 20:37] juneflowers opened #403 "Unable to send emails with attachments. 100% cpu usage after trying"
# Describe the bug
I'm unable to send emails with say a few photo attachments. Thunderbird will hang on sending and eventually deliver a timed out error as well as Maddy being at 100% cpu usage.

![Screenshot at 2021-09-18 16-29-47](https://user-images.githubusercontent.com/63337938/133907873-159b5708-cfac-40d6-a2ef-b933fc7dbe71.png)

# Steps to reproduce
Send email with multiple photos attached.

[2021-09-19 16:40] vedangwartikar opened #404 "Docker support for ARM based machines"
# Use case

Currently, the Docker image supports building maddy for AMD machines.
Additional support for aarch64/arm architecture-based machines.

# Your idea for a solution

Create another Docker image for arm-based machines

- [x] I'm willing to help with the implementation

[2021-09-19 19:01] foxcpp commented on #404
There is nothing preventing the building of maddy image for ARM. In fact I did so in the past. But I do not know how to build and upload both amd and arm images to DockerHub.

[2021-09-19 19:30] vedangwartikar commented on #404
When I'm trying to set up maddy from https://hub.docker.com/r/foxcpp/maddy using the docker run command on my aarch64 based VM, I'm getting the error

`standard_init_linux.go:211: exec user process caused "exec format error"`

Looked it up and found out that it might be related to the architecture. Not sure if I'm doing anything wrong here.

[2021-09-20 16:21] foxcpp commented on #404
DockerHub only has the amd64 image so this is not going to work currently.

[2021-09-20 16:23] foxcpp commented on #404
You should be able to build the image yourself and run it, though.
[code]

[2021-09-22 19:13] foxcpp commented on #403
Oh, that must be #389. If you build it from master it should work fine. Gotta make a release now...

[2021-09-22 21:39] juneflowers commented on #403
Oh okay. I'm going to rebuild and give it a shot.

[2021-09-22 21:44] juneflowers commented on #403
Yup it's fixed. Thanks. I will note that I noticed Maddy is using almost double the amount of memory albeit it's still super lean. went from 30mb to about 60mb

[2021-09-22 21:44] #403 closed, assigned to nobody

[2021-09-22 22:37] voussoir opened #407 "maddy.service ExecStart changed to /usr/local/bin/maddy but documentation still says /usr/bin/maddy"
Hi, I want to start by saying I'm really enjoying Maddy! Thanks for your work.

In 06773552, the ExecStart line was changed to /usr/local/bin/maddy. This prevented my server from starting because I put the executables in /usr/bin according to [the tutorial](https://github.com/foxcpp/maddy/blob/3f1b6684aaebc91c99fd818e5ec3883eff019ae7/docs/tutorials/setting-up.md#installing-maddy) when I installed

[2021-09-23 12:02] foxcpp commented on #407
The link in documentation is slightly wrong. It should lead to https://maddy.email/builds/

[2021-09-24 12:02] eurake commented on #191
@hyahm  通过你指引， maddy 后台现接收邮件与发送邮件都正常，但存在以下2点， 1不能正常通过邮件工具登录，2 发送给QQ 163 的邮件不能接收， 显示 stmp code 450

[2021-09-24 13:50] hyahm commented on #191
看看你哪里配置有问题，  工具测试过都是可以登录使用的

[2021-09-25 17:26] Nairou opened #408 "DMARC policy message always prints"
I noticed I was getting the following message for every incoming email: `check.spf: deferring action due to a DMARC policy`

I did a code search, and it appears that the same message is printed regardless of the outcome of the spf check:
https://github.com/foxcpp/maddy/blob/3f1b6684aaebc91c99fd818e5ec3883eff019ae7/internal/check/spf/spf.go#L392

[2021-09-25 18:16] foxcpp commented on #408
IIRC res.err is always non-nil so it is kind of a bug here.

[2021-10-05 14:08] #408 closed, assigned to nobody

[2021-10-05 14:21] foxcpp commented on #407
Referenced commit fixes the link in the tutorial. Closing the issue as it is non-actionable.

[2021-10-05 14:21] #407 closed, assigned to foxcpp

[2021-10-06 04:29] AlekseyMelikov opened #409 "Failed to load tls file"
Hi.

My maddy.conf
[code]

And i start docker container with `-e MADDY_HOSTNAME=mx1.mydomain.com -e MADDY_DOMAIN=mydomain.com` but maddy returning

[code]

[2021-10-06 09:01] AlekseyMelikov opened #410 "Maddy metrics not showing"
I added `openmetrics tcp://0.0.0.0:9749 { }` to end maddy.conf but `curl maddy-container-ip:9749/metrics` returning
[code]
and maddy metrics not showing

[2021-10-06 09:04] AlekseyMelikov commented on #409
I found [this](https://github.com/foxcpp/maddy/blob/df40dce1284cd0fd0a9e8e7894029553d653d0a5/Dockerfile#L11). Now I understand that what I am doing is not yet possible

[2021-10-06 13:22] foxcpp commented on #410
As most metrics are parametrized by labels, none would show until something happens. Unfortunately, I do not see an easy way to fix this.

[2021-10-06 13:25] foxcpp commented on #409
How do you start your container? maddy in Docker cannot access files on the host.

[2021-10-06 13:30] foxcpp opened #411 "Update go-smtp"
See https://github.com/emersion/go-smtp/issues/161.

[2021-10-08 16:59] Nairou opened #412 "Automatic alias creation"
# Use case

I'm trying to move towards a system of having a different email alias for each service/mailinglist/etc. Right now that requires that I first SSH into my server, add the new alias, possibly restart maddy (not sure if required), and only then continue the signup of whatever service I wanted to use the email alias for. It would be nice if this process could be automated.

# Your idea for

[2021-10-08 17:14] foxcpp commented on #412
You can implement this using address rewriting facilities already available in maddy, as described in more detail in https://github.com/foxcpp/maddy/issues/243#issuecomment-655694512.

Here is the configuration snippet that probably belongs somewhere in `local_routing` part of default config.
[code]

[2021-10-08 17:26] Nairou commented on #412
@foxcpp Thanks! That looks very promising.

This is what I currently have for `local_routing`, I'm guessing your snippet would replace it entirely?

[code]

I'm not sure what the difference is between your `destination ...` example, and the `destination postmaster ...` version I currently have by default.

[2021-10-08 17:36] foxcpp commented on #412
The difference use of `local_rewrties` block (which includes /etc/maddy/aliases processing) and `local_domains` placeholder instead of example.org.

Full block would look something like this:
[code]

[2021-10-08 18:11] Nairou commented on #412
Thank you, that appears to work great!

[2021-10-08 18:12] #412 closed, assigned to nobody

[2021-10-09 14:47] AlekseyMelikov commented on #409
I am not using docker image build. I was expecting maddy to accept the primary_domain value from the environment variable on startup. But judging by the Dockerfile, the primary_domain parameter is set when docker image building.

[2021-10-09 15:54] foxcpp commented on #409
It is not. `{env:...}` syntax is from maddy, not Dockerfile.

[2021-10-10 03:33] AlekseyMelikov commented on #409
Oh great. I replaced in my maddy.conf
[code]
to
[code]
And it works.

It looks like I misunderstood the logic of the Dockerfile when I first viewed it.
Thanks

P.S.
You did a very great job creating Maddy. It looks promising.
It would be very interesting for me to contribute to a Maddy. But, unfortunately, I have no experience with Golang development. Therefore, may be in the future.

[2021-10-10 08:45] #409 closed, assigned to nobody

[2021-10-11 14:17] #410 closed, assigned to nobody

[2021-10-11 14:17] foxcpp commented on #410
Closing as non-actionable. If you have other questions - open a new issue.

[2021-10-15 16:23] juneflowers opened #415 "Unable to use ACME with Google Cloud Dns"
Maddy is returning this error

[code]
Config

[code]

* maddy version: 0.5.2

[2021-10-15 17:47] foxcpp commented on #415
https://maddy.email/man/_generated_maddy-tls.5/#dns-providers

Also: https://maddy.email/tutorials/building-from-source/

[2021-10-15 19:42] #415 closed, assigned to nobody

[2021-10-25 18:57] foxcpp commented on #411
Resolved in 0.5.2.

[2021-10-25 18:57] #411 closed, assigned to nobody

[2021-11-23 03:22] maitredede commented on #404
Hello,
I am working on golang projects with docker images that runs multi-arch. I have successfully built multi-arch images using the new [buildx](https://github.com/docker/buildx) plugin for docker, and a raspberry pi (I had troubles with golang running on qemu, so I choosed native hardware).
It is quite easy to set up : on the pi, use raspbian arm64, install docker server, and expose it (to your

[2021-11-30 02:13] Nairou opened #419 "Allow send email aliases for any managed domain"
# Use case

I use a catch-all for receiving emails from multiple domains to a single mailbox. On rare occasion, I need to respond to one of these emails, but doing so would expose my real email address. Attempting to change the "from" address results in an unauthorized error if it isn't a previously-created credential. For now, I have to manually create a new credential for the specific email addr

[2021-12-03 15:54] foxcpp commented on #419
Sender address authorization in default configuration transforms the used sender address using same mapping that is used for aliases.

[code]

[code]

[code]
If you do something like this for catch-all and put it into `local_rewrites` then it should just work.

[2021-12-09 20:40] reivilibre opened #421 "Some of the Prometheus metrics seem to be unused"
Hi there, me again :).

I decided to set up Prometheus monitoring because I was hoping to get alerted when/if I stop receiving e-mails frequently (as that has usually shown to be a problem in the past).

I was quite confused by two points:

* the `maddy_*` prometheus metrics don't seem to appear in the `/metrics` output until they actually get incremented (maybe this is intentional? But as a Prome

[2021-12-11 10:25] khaledez opened #422 "Maddy inside Docker fails to send emails with timeout errors"
I'm running maddy in a docker container. I'm receiving messages, but can't send emails, this is what logs are showing:

[code]

I attached a shell to the container and verified I can send packets (ping, nslookup) from the container.

I created a sample smtp client and ran it on the same machine, It was sending emails successfully.

I'm not sure what else to do!

[2021-12-11 15:12] foxcpp commented on #422
Are you sure outbound port 25 is not filtered by your ISP?
[code]
Assuming you have netcat(nc) installed, this should print:
[code]

[2021-12-11 15:14] foxcpp commented on #421
Metrics are parametrized by module name so before sending actually happens we don't know what to put in the module name.

[2021-12-11 15:19] foxcpp commented on #421
Oh, I must have missed completedTransactions.

I guess a bunch of metrics covering outbound delivery would be definitely useful. (ref #264)

maddy_queue_length probably can be used for this but I am open to adding more metrics that you think would be useful.

[2021-12-11 15:27] foxcpp opened #423 "Direct SMTP delivery to storage.blob (filesystem, S3)"
There is storage.blob module namespace that is used by IMAP storage layer to store message bodies.
It would be helpful if we can implement an adapter that would allow SMTP pipeline to directly write messages
into blob storage (which can be backed by FS or S3 bucket or something else).

I guess we could just make all storage.blob implementations also implement delivery target interface via some hel

[2021-12-11 15:28] foxcpp commented on #423
Something like this can be inserted into message header:
[code]
It probably should be possible to disable it.

[2021-12-12 08:52] khaledez commented on #422
It looks the issue is from my hosting provider (AWS) .. I'm looking into it now.
`nc` command doesn't work in the machine as well!

[2021-12-15 22:50] Xumeiquer opened #424 "Implement XCLIENT as upstream proxy protocol"
# Use case

What problem you are trying to solve?

When running Maddy behind a proxy, Maddy receives the proxy's IP instead of the original source IP address. This can be a issue for modules such as dnsbl, because the IP to check is not the right one.

The PROXY protocol is implemented by HAProxy and Nginx among other softwate, and it can be used for HTTP or SMTP. Our case is only SMTP.

# Your id

[2021-12-15 23:54] Xumeiquer commented on #424
Late check. This request is already done.

[2021-12-15 23:54] #424 closed, assigned to nobody

[2021-12-26 12:57] foxcpp commented on #422
Closing as this is not an issue with maddy.

[2021-12-26 12:57] #422 closed, assigned to foxcpp

[2022-01-02 17:45] foxcpp opened #432 "Merge maddyctl and maddy executables."
This will nullify any issues that may arise from maddy and maddyctl being of different version.

[code]
and
[code]

If possible, compatibility should be maintained for at least one version, ensuring if that if no subcommand is specified then server is started as usual.

[2022-01-05 11:55] foxcpp opened #433 "Reference documentation in the Markdown format"
Maintaining reference documentation in Markdown format would allow us to organize it in a better way - with proper page hierarchy, for example and more rich content. Partially documentation is already in the Markdown format but it is only tutorials for now. I think it is time to get rid of this split and also reorganize documentation in the progress.

[2022-01-06 00:02] foxcpp commented on #188
Just merged go-imap-v2 into dev. We now have everything in place to consider this resolved.

[2022-01-06 00:02] foxcpp commented on #259
https://github.com/foxcpp/maddy/commit/7377878b9c59f053efd18ec9c8196426cc089ab6

[2022-01-06 13:02] foxcpp opened #436 "maddyctl: Consider removing non-uid variants of IMAP commands"
Sequence numbers are not guaranteed to refer to any particular message since they can easily change between maddyctl invocations (e.g. if used in a script). Though this should not happen often, I think we should get rid of this footgun.

[2022-01-06 17:08] foxcpp commented on #220
Superseded by #432.

[2022-01-06 17:08] #220 closed, assigned to nobody

[2022-01-06 18:22] foxcpp opened #437 "Missing documentation for table.sql_table"

[2022-01-06 18:22] foxcpp opened #438 "Missing documentation for dovecot_sasld"

[2022-01-06 18:27] foxcpp commented on #298
Superseded by separate issues for each topic.

[2022-01-06 18:27] #298 closed, assigned to foxcpp

[2022-01-07 16:47] foxcpp opened #439 "Thunderbird does not delete messages on the server"
### Discussed in https://github.com/foxcpp/maddy/discussions/435

<div type='discussions-op-text'>

<sup>Originally posted by **lexesv** January  6, 2022</sup>
Hello.

I set in Thunderbird Config editor: **mail.imap.expunge_after_delete;true**

But messages are still not deleted from the server.</div>

[2022-01-07 16:52] foxcpp commented on #439
@lexesv, could you add `io_debug` directive to `imap` block and a global `debug` in maddy.conf, attempt deleting some messages and post logs content here? Like this:
[code]

[2022-01-07 18:31] foxcpp opened #440 "Replace home-made token bucket implementation with golang.org/x/time/rate"
Less code to maintain is always a good idea.
https://pkg.go.dev/golang.org/x/time/rate

[2022-01-08 11:19] lexesv commented on #439
[code]

[2022-01-10 08:03] foxcpp commented on #439
Hmm, the included log does not show any EXPUNGE commands being executed.

[2022-01-15 06:47] heathlarsen opened #445 "Docker container errors on startup "maddy.conf: no such file or directory""
I'm trying to spin up Maddy in Docker on my Synology NAS via command line.
[code]

This command immediately returns an error and the container crashes:
`open /data/maddy.conf: no such file or directory`

The directory _**/volume7/docker/maddy/data**_ definitely exists on the host machine but no files get created there.

[2022-01-15 11:00] foxcpp commented on #445
I suppose it would work correctly and write its configuration only when Docker volume is used (`docker volume create ...`, `-v volumename:/data`.

[2022-01-16 01:23] heathlarsen commented on #445
You're totally right!
I ran `docker volume create temp` and updated my docker run command to use `-v temp:/data`.
The maddy.conf was generated, the error didn't reoccur and this allowed me to progress to the TLS cert step.

Because I prefer to use specific directories in the host filesystem for my volumes I moved the newly generated maddy.conf out of the temp volume and into my preferred directory

[2022-01-16 01:23] #445 closed, assigned to nobody

[2022-01-17 13:59] Dr-Escher opened #446 "IMAP IDLE capability missing (Push support)"
# Describe the bug

Latest maddy doesn't report the IMAP IDLE capability, rendering message pushing unavailable.

# Steps to reproduce

- Deploy maddy v0.5.2 (foxcpp/maddy@3ae07046c11ee3eba162a2b1a8a82e054a8227e4)
- Connect via IMAP (thunderbird 91.5.0-0.1 via `export MOZ_LOG=IMAP:4` in this case)
- Observe reported IMAP capabilities

# Log files

0. maddy instance
[Parent 11216: IMAP]: I/IMAP 7f6

[2022-01-19 13:30] lexesv commented on #439
Folders are created and deleted.
But what I have not tried to do is messages are not deleted from the server.

[2022-01-19 13:30] foxcpp commented on #446
That seems to be the regression in go-imap 1.2.
Ref. https://github.com/emersion/go-imap/pull/453

[2022-01-19 14:26] Dr-Escher commented on #446
Confirmed to be fixed in go-imap v1.2.1

[2022-01-19 14:26] #446 closed, assigned to foxcpp

[2022-01-27 00:39] angelnu commented on #401
I am also interested in the 1:N address expansion and trying to add a PR.

My thinking would be to make `RewriteRcpt` return a []string instead of a single string so that later for each `to` in the list we can do: https://github.com/foxcpp/maddy/blob/85d3648754f859c58f8cb00f8f5f01aee72c96fe/internal/msgpipeline/msgpipeline.go#L309-L364

Do you think that I am in the right track?

Also, what separa

[2022-01-27 14:53] foxcpp commented on #401
Yeah, that should work. Assuming we keep current naive handling of partial failures, but I would prefer to leave that can of worms for later.

Better hope no-one uses a `"a,b,c"@example.org` email address.  The only 100% safe approach for this is to use \t or \n as a separator, both of these are required to be escaped even in quoted email addresses.
I wonder if we should take an opinionated approa

[2022-01-27 15:21] angelnu commented on #401
Thanks for confirming! I will start working on it - I was checking first I could run all testcases so I ensure I do not break anything as I start with the changes.

I am all for the opinionated as it makes the rules easier to read/understand. I proposed `,` under the impression that it is not a valid character in email addresses (several programs use `,` as separators) but if another character is

[2022-01-27 15:41] foxcpp commented on #401
Agreed. People with weird addresses can use other data sources (e.g. SQL database) that have no similar problems.

P.S. There is some existing code that you probably want to use, some module.Table implementations have optional LookupMulti method that returns multiple entries. It probably should be used by rewrite_rcpt implementation if available. And then file-based implementation should be adjust

[2022-01-27 15:48] angelnu commented on #401
ok, I will then use LookupMulti when possible and default to `,` separated addresses otherwise. Just confirming - `,` is better than ` ` as separator?

[2022-01-27 16:07] greengekota commented on #401
Is it enough to keep reading until the next unescaped ", after encountering a "? In this case a modification to the string split algorithm should suffice.

Also, is it going to be a problem if someone puts something like
[code]

or
[code]
?

[2022-01-27 16:42] angelnu commented on #401
This is a nop but should not result an infinite loop

This would also be a nop after replacing a->b->a. This is not really related to the 1:N, is it? This type of config is valid today.

We cannot assume " in the email addresses (most will not), so using string splits with `,` or ` ` should work in most cases.

[2022-01-27 16:52] foxcpp commented on #401
I think if LookupMulti is not defined then you should not do any splitting on singular value returned by Lookup. This will cause problems with all other non-file based table implementations.

I believe `,` is less likely to appear in an address.

table.file is also re-used for other values that are not email address, I would prefer to keep parser as content-unaware as possible.

P.S. As described

[2022-01-27 17:57] greengekota commented on #401
Not really, I was wondering about a situation like this (or some faulty version)
[code]

but one could just replace root with the addresses in the config file, so it's not necessary. I was worried about possible loops, since I saw AddRcpt calling itself. Thank you both for your replies.

[2022-01-27 23:58] angelnu commented on #401
I have not implemented the `,` separated case in `file` yet but the following should work

[code]

[code]
[code]

# Update

Implemented the `,` so it also works with
[code]
So it is ready for review.

[2022-01-30 18:07] angelnu opened #448 "Feature request - Support for Sieve"
# Use case

Implement [Sieve ](http://sieve.info/)in Maddy.

As I run with only Maddy (and later alps, currently Nextcloud as client) and would like to avoid depending on Dovecot I am missing a solution for users to configure their filters without depending on creating scripts manually and asking me to upload to the server.

# Your idea for a solution

- Implement ManageSieve in Maddy so users can

[2022-02-01 19:41] foxcpp commented on #448
Duplicate of #53.

[2022-02-01 19:41] #448 closed, assigned to nobody

[2022-02-04 19:42] Nairou commented on #419
Belated thanks! I haven't had the chance to test this out but your example makes sense. I'll go ahead and close this issue for now.

[2022-02-04 19:42] #419 closed, assigned to nobody

[2022-02-13 13:21] yunginnanet commented on #176
I think this is the first time I've ever seen someone give themselves the "good first issue" tag on their own repo

jokes aside thanks for all your work. luckily I don't think most people desire to use IP literals in their mx stack.

[2022-02-16 01:35] sblinch opened #453 "Maddy reports successful delivery on LMTP delivery failures (losing messages)"
# Describe the bug

If you've configured Maddy for LMTP delivery (I'm currently integrating it with Dovecot) and your LMTP server returns a delivery error, Maddy currently ignores the error from the LMTP server and indicates a successful delivery. The message is then permanently lost since the sending server received a success response.

To describe what happens (likely painfully confusing, sorry)

[2022-02-16 17:01] #453 closed, assigned to foxcpp

[2022-02-16 17:03] foxcpp commented on #453
Just pushed https://github.com/foxcpp/maddy/commit/90559bedb10419b38627a84594c1fa1d51363d71 that should fix it.

[2022-02-18 00:59] raylee commented on #401
Regarding commas in email addresses, the last paragraph of [RFC5322 section 3.4](https://datatracker.ietf.org/doc/html/rfc5322#section-3.4) reserves semicolons for this use case (separating email addresses and treating them as a group). eg:

`root@example.com: admin1@example.com; admin2@example.com`

[2022-02-18 10:40] angelnu commented on #401
@foxcpp - are you ok with switching to semicolons? It is an easy change to do. Anything else that is needed before merging the PR?

Thanks @raylee for the suggestion!

[2022-02-18 10:48] foxcpp commented on #401
What is the reason for using semicolons, though?
And no, I planned to go over & integrate your PR this weekend.

[2022-02-18 11:39] angelnu commented on #401
Mainly that, in theory, someone might want to use `my,weird,email@example.org` as email while nobody according to the RFC can use `my;weird;email@example.org` It is really a constructed case and therefore was looking for your thoughts on it.

Great - please notice that, as they both touch a common file the second PR you merge will need to be rebased. I did that in my fork as I have been running wi

[2022-02-19 11:16] foxcpp commented on #401
Both addresses you provided are valid but would need to have local-part quoted. That is `"my,weird,email"@example.org` and `"my;weird;email"@example.org`. I would prefer to stick with commas and if handling of such addresses is necessary users should consider table implementations that do not have any restrictions (e.g. pulling aliases from a SQL table).

[2022-02-19 12:01] foxcpp commented on #401
Implemented in https://github.com/foxcpp/maddy/commit/bc424644663df612424562d3a41aba43c445aaaf.

[2022-02-24 19:23] daniel-widrick opened #461 "Libdns causing countless check sum errors"
# Describe the bug
verifying github.com/libdns/alidns@v1.0.2: checksum mismatch
        downloaded: h1:Z5JKDpDGXIYYJPTnBegI0I2CHPBlNwiOfbWkKXAbvfA=
        go.sum:     h1:WiT1cO2LWY95YNocTVBGipHjvRaFQOxMQ9X5bTiryRo=

What do you think is wrong?
the libdns folks seem to be overwriting their release tags which is messing up go.sum checksums across their projects

# Steps to reproduce
clone the maddy

[2022-03-06 13:18] foxcpp commented on #461
I am unable to reproduce the error with empty GOPATH and build cache.

[2022-03-06 13:31] #272 closed, assigned to nobody

[2022-03-09 20:28] drdaeman opened #465 "modify.dkim.require_sender_match doesn't do anything in practice"
My apologies for not following the bug report template. This is a bug I've spotted by reading the source code, not running Maddy in production - I'm trying to replace an ancient Postfix server and still figuring out the configuration I need, using source as a supplemental documentation.

I believe `modify.dkim`'s `require_sender_match` setting is not doing anything. The setting is recognized, but

[2022-03-12 22:06] bkaOG opened #466 "DATA error unexpected EOF"
# Describe the bug

DATA error enexpected EOF when sending email from accesspoint through maddy

# Steps to reproduce

Send email from accesspoint Zyxel NWA210AX via maddy (worked with openbsd/opensmtpd)

Sending from Synology NAS works fine.

# Log files

[hastebin.com](https://www.toptal.com/developers/hastebin/zivecigali)

# Configuration file

only added tls certs  and debug + io_debug in smtp

[2022-03-13 06:10] ptrcnull commented on #395
i was able to partially reproduce this issue (the `unexpected EOF` part) with the following message:
<details>
<summary>debug log</summary>

[code]
</details>

[2022-03-13 15:57] foxcpp commented on #466
Uh, apparently, many automated systems generate malformed MIME messages and so we need to handle them somehow instead of rejecting.

[2022-03-13 16:01] bkaOG commented on #466
Thank you for the quick reply. I’ll open a ticket with the vendor.

[2022-03-14 22:28] ptrcnull opened #467 "Maddy returns TLS Internal Error to valid handshakes on SMTP STARTTLS"
# Describe the bug

When an external server tries to deliver a message with missing `server_name` TLS extension, Maddy responds with TLSv1.2 Alert message, description 0x50 (Internal Error)

# Steps to reproduce

- launch maddy with STARTTLS on SMTP enabled
- run `openssl s_client -noservername -starttls smtp -crlf mailserver:25`

# Log files

[code]

# Configuration file

<details>
<summary>Confi

[2022-03-14 23:05] ptrcnull commented on #467
Adding debug logs to emersion/go-smtp revealed the actual error:

![image](https://user-images.githubusercontent.com/26630168/158274921-0e105621-2066-4993-a7e4-d7a8c142327e.png)

Looks like it's an issue with Maddy's use of certmagic - it shouldn't guess which certificate to use from Go's ClientHelloInfo when the `hostname` directive is set

[2022-03-17 21:25] kamarya opened #469 "Calendar Support"
# Use case

Calendar support for WebDAV, CalDAV and CardDAV.

What problem you are trying to solve?

A monolithic integration of calendar service and mail. The calendar then uses the same credentials of the mail users.

How your solution would work in general?

Use go-webdev package to provide calendar service: https://github.com/emersion/go-webdav

A new thread serves the calendar along with mail

[2022-03-18 07:25] vtolstov opened #470 "can sync mail from gmail to maddy via imapsync"
[code]

How to increase message size limit in maddy?

[2022-03-18 07:27] vtolstov commented on #469
will be cool, @foxcpp do you know how this can be integrated with maddy?

[2022-03-18 09:01] #467 closed, assigned to nobody

[2022-03-18 09:33] foxcpp commented on #469
go-webdav needs a lot of work before it can be used as a production-ready CalDAV/CardDAV implementation.

And we probably need a generic HTTP endpoint implementation in maddy first (some discussion in #374). After all that, integration should be as simple as providing an appropriate FS interface implementation built around existing maddy abstractions.

We can start with HTTP reverse-proxy that wou

[2022-03-18 09:53] foxcpp commented on #470
Size of messages written via IMAP is limited via `appendlimit` directive for the [storage.imapsql module](https://github.com/foxcpp/maddy/blob/dev/docs/reference/storage/imapsql.md). Default is 32 MiB. Message that caused the error is almost 33.9 MiB.

To double the limit:
[code]

[2022-03-18 09:54] #470 closed, assigned to nobody

[2022-03-18 10:36] vtolstov commented on #469
we can start with non prod ready and mark it experimental like some modules in linux kernel,

[2022-03-18 11:23] bkaOG commented on #466
Status update:

First reply from the vendor before doing some test suggested by the vendor:

"The email report function implemented on our AP follows the basic standard."

Then went on to do the suggested test with the same result as before.

send using gmail => gmail - works
send using gmail => Maddy fails
forwarding the received mail from gmail to Maddy via Apple mail client works
disable TLS on

[2022-03-30 03:29] savchenko commented on #469
Sounds like a good candidate for a scope creep. Wouldn't it make sense to use more mature Baikal/EteSync?

[2022-03-30 16:46] kamarya commented on #469
@savchenko what about having two separate source of credentials ? Maddy is not (yet) targeting more complex authentication methods like LDAP. So  to have a seamless calendar support, it should be part of Maddy. Nowadays calendar is part of the email services.

[2022-03-31 05:30] Ninlives opened #475 "Maddy tries to use a localhost dns resolver instead of the nameserver specified in /etc/resolve.conf"
# Describe the bug

I set up a maddy service on a Vultr VPS, and it seems maddy does not respect the nameserver settings in `/etc/resolve.conf` and tries to read from localhost resolver.
Restart the service solves the problem, but I have to restart the service everytime I reboot.

# Steps to reproduce

1. Setup the systemd service for maddy.
2. Reboot
3. Try to send a mail to a remote host.

# Log

[2022-03-31 07:08] foxcpp commented on #469
@kamarya FWIW, maddy has LDAP auth support ( using credentials binding)

[2022-03-31 07:15] kamarya commented on #469
Even with LDAP support I do not think integrating calendar into maddy is a "scope creep". The reason I use maddy is the fact that it packs up several services into one. It is simple to setup and maintain (so far) and calendar is a so necessary element alongside an email service.

[2022-03-31 11:58] savchenko commented on #279
Is this relevant to https://github.com/foxcpp/maddy/discussions/473 by any chance?..

[2022-03-31 12:22] foxcpp commented on #279
Yes, it is directly related. Currently, maddy does but support any deployment setup using active replication. For MX redundancy, your best solution is to configure second MX to buffer incoming messages and attempt resending them to the main server infinitely.

[2022-04-02 13:20] foxcpp commented on #475
/etc/resolv.conf is read once on server startup, might it be that /etc/resolv.conf does not exist (or is not populated correctly) when maddy starts? In that case you would need to adjust the systemd unit file to ensure it starts after the correct configuration is generated.

[2022-04-05 09:01] Ninlives commented on #475
Sure, I add another service that restart maddy everytime /etc/resolv.conf is changed, it works, but tricky.

[2022-04-10 18:50] lonnietc opened #480 "Does Maddy Build for Windows?"
Hello,

Just searching for a full Golang email server that can also build for Windows, Linux, etc.

Can Maddy?
Thanks

[2022-04-10 20:37] #480 closed, assigned to nobody

[2022-04-24 01:26] ptrcnull opened #482 "Logging to file doesn't print configuration errors"
# Describe the bug
When using `log /tmp/maddy.log` and starting maddy with an invalid configuration, it doesn't print the error to the log file.
Instead, `!!! Failed to write message to log: write /tmp/maddy.log: file already closed` shows on stdout.

# Steps to reproduce
Run maddy with the following config file:
[code]

* maddy version: 0.5.4

[2022-04-24 18:46] #482 closed, assigned to nobody

[2022-04-27 09:22] technodrome commented on #469
Mail server should be just that - a mail server. Mail has nothing to do with a calendar. While I understand the desire to have a convenient combo, this really is a great candidate for a scope creep.

There's radicale, etesync or https://github.com/emersion/go-webdav - and even they themselves don't even offer any kind of well-rounded documentation to use their package yet (judging by [this](https:

[2022-05-03 08:26] mschneider82 commented on #206
this could be solved by writing the dmarc events as a opendmarc history file and then using the opendmarc tools to dbimport / aggregate / send mails.

https://github.com/mschneider82/go-opendmarc-historyfile

[2022-05-03 15:09] macc0 opened #485 "SPF permanent errors"
# Describe the bug
Some incoming email is rejected because of failed SPF checks. Same email is received fine by a hotmail.com address.

What do you think is wrong?

# Steps to reproduce
Any emails received from hegre.com or metart.com. Like signing up to their newsletters.

# Log files

[code]

# Configuration file

[code]

# Environment information

* maddy version: docker container foxcpp/maddy:

[2022-05-05 08:44] starsareintherose opened #486 "Bug report maddy sometimes can't be connected"
# Describe the bug
maddy sometimes go offline but systemctl status is active running

# Steps to reproduce
just sometimes it broken and can't connect
# Log files

[code]
and then other can't access it, but I run as root and the permission seems nothing wrong, I restart it and no error report
[code]

yesterday, I can't connect both IMAP and SMTP
[code]
6 may 2022
[code]
and others similar informati

[2022-05-06 09:42] foxcpp commented on #486
[systemd sandboxing options](https://github.com/foxcpp/maddy/blob/master/dist/systemd/maddy.service) applied to maddy may interfere with permission checks. Still not sure what is happening, did you modify systemd service? It should run as `maddy` user by default and all files in /var/lib/maddy should also be owned by it.

[2022-05-06 09:43] starsareintherose commented on #486
I changed it I use root to run it
[code]

[2022-05-06 11:00] foxcpp commented on #486
Hm, still not sure why this happens only sometimes.  Is there anything in your system that may modify the /var/lib/maddy directory besides maddy? These `unknown credentials` rejections should not be caused by permission errors.

Also note that systemd configuration disables permission bypass of root user.  You could try removing AmbientCapabilities and CapabilityBoundingSet directives from the ser

[2022-05-06 11:00] foxcpp commented on #486
Occasional rDNS errors are expected and are generally harmless.

[2022-05-06 11:05] starsareintherose commented on #486
I think nothing can be changed by maddy, I now comment on the `AmbientCapabilities` and `CapabilityBoundingSet` in both service files to wait to see if anything will occur in the next few days
[code]

[2022-05-06 11:46] foxcpp commented on #485
maddy has a rather strict SPF handling by default. These domains indeed have SPF policies that are not valid per RFC 7208.
I guess we should review the defaults and see if it is better to ignore such errors (as hotmail probably does). In meanwhile, you can set it manually:
[code]

[2022-05-06 14:10] macc0 commented on #485
Thank you. That's what I did eventually.
I commented out the spf line which probably amounts to the same thing.

When investigating the issue, I came upon this blog post:
https://www.mailgun.com/blog/deliverability/email-isnt-authentic-enough-misfit-series/

Some of these issues seem quite common.

Right. Or maybe allow whitelisting certain domains in the config file.

[2022-05-06 21:20] foxcpp commented on #485
This disables SPF checking completely which is probably not something you want to do (as this also effectively disables DMARC).

[2022-05-07 22:38] starsareintherose commented on #486
util now, it seems work well. But I found
[code]
the IP is my current labtop computer network's IP, but it shouldn't be related with the rDNS

[2022-05-08 20:22] foxcpp commented on #486
These errors can be safely ignored, the only use of rDNS is Received header, but for `submission` endpoint it does not put rDNS name or IP into it anyway (to avoid leaking your laptop's IP, obviously).

[2022-05-08 20:50] starsareintherose commented on #486
Okay, thanks, it works fine until now, I think it would be okay. Thanks for your nice help.

[2022-05-08 20:50] #486 closed, assigned to nobody

[2022-05-15 10:03] moritzheiber opened #487 "maddy fails to validate SPF record with long lookup chain"
# Describe the bug

When receiving email with a standard-compliant SPF header maddy fails to validate the SPF record because it considers it to have too many lookups. It should fail to deliver the message though since the SPF header is considered valid.

# Steps to reproduce

The SPF record is considered valid when using [popular tools](https://mxtoolbox.com/SuperTool.aspx?action=spf%3amediterana.

[2022-05-17 09:36] xdkaka commented on #461
go get: github.com/foxcpp/go-imap-mess@none updating to
	github.com/foxcpp/go-imap-mess@v0.0.0-20220105225909-b3469f4a4315 requires
	github.com/emersion/go-imap@v1.0.5-0.20200511082158-271ea913b422: invalid version: unknown revision 271ea913b422

[2022-05-25 17:43] starsareintherose opened #494 "Can't use pgloader to migrate sqlite + Feature request: Migrate from sqlite to postgresql"
# Use case

What problem you are trying to solve?
Migrate from sqlite to postgresql

Note alternatives you considered and why they are not useful.

# Your idea for a solution

How your solution would work in general? Maybe just a script to help
Note that some overly complicated solutions may be rejected because maddy is
meant to be simple.

- [x] I'm willing to help with the implementation

[2022-05-28 23:15] FIGBERT opened #495 "Deliver-To Address Support in IMAP Filtering"
# Use case

I'm working on moving my self-hosted git repositories from [Gitea] to a combination of [stagit] and [crabmail]. To do so, I've created a new email, `lists@figbert.com`, and plan on utilizing subaddressing (i.e. `lists+general@figbert.com`, `lists+dockerfiles@figbert.com`, etc.) to organize the various lists.

To get emails to deliver properly with subaddressing, I run the following reg

[2022-05-28 23:25] ptrcnull commented on #495
when it comes to the `To:` field in the message, you get the whole message body on standard input, so you can parse it in the script, with something like this:
[code]
(actually you should probably do proper [imf](https://datatracker.ietf.org/doc/html/rfc5322) parsing, but it's a really simple example that _mostly_ works)

though it would be useful to have SMTP `RCPT TO` address exposed as a variab

[2022-05-29 16:27] FIGBERT commented on #495
That is incredibly helpful! I've whipped up a quick script in Go and have email filtering working.

Not certain about the future of this issue. I think the most important thing is to document that the message is passed via stdin – that basically exposes any variables that one might need. It still may be useful to have more variables exposed directly, however. I'm open to thoughts and feedback.

[2022-05-30 05:16] charims commented on #395
I've got many hundred spam (and a few valid) emails triggering this unexpected EOF while syncing over some old mail from dovecot. You probably have what you need, but if you do need more sample emails, I am happy to share.

[2022-05-30 08:55] foxcpp commented on #495
There is https://github.com/foxcpp/maddy/pull/449 which adds a bunch of new fields, including `{address}`. It was merged into dev for 0.6 but it was never released since I had little time lately. :(

[2022-05-31 13:23] ptrcnull commented on #495
Thanks for the mention - I've been looking at the docs at https://maddy.email and missed that it's already a thing on the dev branch, gonna test it out soon :heart:

[2022-05-31 20:59] foxcpp commented on #495
P.S. Take a backup of your DB first since dev branch introduces significant changes to data structure.

[2022-06-01 22:52] starsareintherose commented on #494
I have tried this
[code]
there is a clear error, and when I use it, I must make sslmode disable and I can't see nothing in this PostgreSQL db

[2022-06-08 07:13] reivilibre opened #498 "Maddy not accepting e-mail from tpexpress.co.uk due to `check.spf: result: permerror (unknown field)`"
# Describe the bug

Since a few months ago, I don't receive e-mails (usually train tickets) from tpexpress.co.uk.
I looked at the SPF records and couldn't immediately spot the error as being on their side
These records look relevant to me:

tpexpress.co.uk:
[code]

spf1.webtis.net
[code]

Maddy doesn't accept e-mail from here though, with an error saying `check.spf: result: permerror (unknown fiel

[2022-06-16 20:56] AlphaJack commented on #404
@foxcpp any update on #491 implementation?
Otherwise [filebrowser](https://github.com/filebrowser/filebrowser/blob/master/.goreleaser.yml) is using goreleaser, which seems trivial to configure

[2022-06-18 15:21] foxcpp commented on #498
Duplicate of #485.

[2022-06-18 15:21] #498 closed, assigned to nobody

[2022-06-18 15:22] foxcpp commented on #487
Related to #485 (maddy not ignoring permerror status as most services do).

[2022-06-18 15:36] foxcpp commented on #494
LONGTEXT seems to be a remmant of MySQL compatibility in go-imap-sql.

[2022-06-18 15:53] foxcpp commented on #404
0.6 will have an arm64 image available. Will add 32-bit ARM if someone specifically requests it.

[2022-06-18 16:22] foxcpp commented on #465
You are right - check.authorize_sender replaced require_sender_match and should have been removed back then.

[2022-06-18 16:44] foxcpp commented on #487
From RFC 7208:

Seems like I am a month late - currently set SPF record for that domain cannot cause more than 9 lookups.

[2022-06-18 16:46] foxcpp commented on #487
Closing as non-actionable.

[2022-06-18 17:51] moritzheiber commented on #487
@foxcpp Appreciate the reply.. have you checked on whether maddy actually handles that record? Might be that the implementation doesn’t fully conform to the expectation of the RFC..? I’ve seen this error with other domains (and meanwhile have set permerror to “ignore”)

[2022-06-18 18:03] foxcpp commented on #487
Woops, I double-checked what was I doing and apparently I passed parameters in the wrong format to the SPF library.

Here is the list of DNS queries maddy does while checking 130.180.63.115 against mediterana.de SPF record.  SPF library used by maddy counts A+AAAA queries as one and actually does 14 queries before stopping.
[code]

[2022-06-18 18:11] moritzheiber commented on #487
Ah, that’s a tricky one, good catch! Mixed IPv4/6 is a nightmare 🙈

[2022-06-18 18:25] foxcpp commented on #487
It gets even more interesting.

Apparently, RFC 4408 text means that the limit is in terms of SPF "terms", not DNS lookups.
RFC 7208 uses a more clear wording for it:

   queries at the time of evaluation, and some do not.  The following
   terms cause DNS queries: the "include", "a", "mx", "ptr", and
   "exists" mechanisms, and the "redirect" modifier.  SPF
   implementations MUST limit **the tot

[2022-06-18 18:39] foxcpp commented on #350
With the introduction of built-in ACME client, this issue is probably much less relevant. Howver, I will change default names to /data/tls/fullchain.pem, /data/tls/privkey.pem and put the maddy.conf used by Docker image in the repo.

[2022-06-18 21:10] foxcpp commented on #494
Looks like you need to create a pgloader.load file to define a custom CAST rule to get rid of LONGTEXT type:

Something like this:
[code]

I will remove the incorrect definition but that won't affect existing databases.

[2022-06-18 22:56] starsareintherose commented on #494
Could I know which db can be the ppstgresql, there are two db, and I want to solve the problems thatwhen I open the webmail, it responses quite slow to load emails.

[2022-06-18 23:27] albertito commented on #487
Sorry about this, the problem is indeed caused by a bug in the SPF library, in the way that some terms are counted for the purposes of DNS lookup limits.

Coincidentally, this problem was [reported yesterday](https://github.com/albertito/spf/issues/3) and fixed today in [commit 48ee700](https://github.com/albertito/spf/commit/48ee7003328e0d0cd8ce851f356fb4be0ae4364d), which is in the [`next` branc

[2022-06-19 00:17] moritzheiber commented on #487
@albertito Fantastic response time, thank you for your hard work!

[2022-06-19 12:44] albertito commented on #487
FYI I've just cut v1.4.0 of the [spf package](https://pkg.go.dev/blitiri.com.ar/go/spf) which includes a fix for this problem.

[2022-06-19 13:55] foxcpp commented on #487
Good. Thanks, @albertito! I will bump version used in maddy and probably tag 0.6 finally.

[2022-06-19 13:59] foxcpp commented on #461
github.com/foxcpp/go-imap-mess@v0.0.0-20220105225909-b3469f4a4315 requires
github.com/emersion/go-imap@v1.0.5-0.20200511082158-271ea913b422: invalid version: unknown revision 271ea913b422

https://github.com/emersion/go-imap/commit/271ea913b422
Seems like go-imap-mess go.mod references a dangling commit in emersion/go-imap. Though it should not cause any issues, since it is `replace`'d anyway by f

[2022-06-19 14:03] foxcpp commented on #439
In either case, it might be caused by improper IMAP4 implementation. Will need to recheck if it is still happening in 0.6.

[2022-06-19 17:28] AlphaJack commented on #404
@foxcpp do you have an approximate ETA on the next release?

[2022-06-20 06:50] foxcpp commented on #404
@AlphaJack in the next few days

[2022-06-20 22:23] angelnu opened #501 "Corrupted mail DB (stuck in recovery mode)"
# Describe the bug

I get the following logs from Maddy:

[code]

What do you think is wrong?

I think the Junk imap folder is corrupted. I tried renaming it to bla.Trash and creating a new one (called it Trash). But the old one still seems to be used.

Ideally there would be instructions to remove corrupted folders without having to restore a DB backup as this problem only seems to affect one sin

[2022-06-23 09:29] #432 closed, assigned to foxcpp

[2022-06-23 15:10] foxcpp commented on #404
![изображение](https://user-images.githubusercontent.com/37885127/175332564-11c23249-b379-4dba-8ed2-7c7b8256cf34.png)

[2022-06-23 15:35] #188 closed, assigned to foxcpp

[2022-06-23 15:35] #259 closed, assigned to foxcpp

[2022-06-23 15:35] #277 closed, assigned to nobody

[2022-06-23 15:35] #280 closed, assigned to foxcpp

[2022-06-23 15:35] #350 closed, assigned to foxcpp

[2022-06-23 15:35] #401 closed, assigned to foxcpp

[2022-06-23 15:35] #404 closed, assigned to foxcpp

[2022-06-23 15:35] #433 closed, assigned to foxcpp

[2022-06-23 15:35] #465 closed, assigned to foxcpp

[2022-06-23 15:35] #487 closed, assigned to foxcpp

[2022-06-23 15:35] #495 closed, assigned to foxcpp

[2022-06-23 15:45] #485 closed, assigned to foxcpp

[2022-06-23 16:39] Dr-Escher opened #504 "IMAP IDLE is missing from server-reported capabilities again"
Not sure if this is the exact same issue as https://github.com/foxcpp/maddy/issues/446 (which got fixed), however [v0.6.0](https://github.com/foxcpp/maddy/releases/tag/v0.6.0) shows similar behaviour again.

# Describe the bug

Latest maddy doesn't report the IMAP IDLE capability, rendering message pushing unavailable.

# Steps to reproduce

Connect to maddy v0.6.0 https://github.com/foxcpp/maddy/

[2022-06-23 18:24] foxcpp commented on #504
You are right, this is exactly the same issue - go-imap v2 apparently was never updated to include fix that was made for v1 (version used by maddy 0.5).

[2022-06-23 19:09] foxcpp commented on #504
Should be fixed in 0.6.1. Thanks for letting me know.

[2022-06-23 19:09] #504 closed, assigned to foxcpp

[2022-06-23 19:11] Dr-Escher commented on #504
Yes, I can confirm this is fixed in v0.6.1 https://github.com/foxcpp/maddy/commit/bbaea0400e5c89835ca6d04f0f84c036e9a3922a

Awesome, thank you.

[2022-06-23 21:22] foxcpp commented on #395
The original issue is resolved, the "unexpected EOF" part is tracked in #466.

[2022-06-23 21:22] #395 closed, assigned to foxcpp

[2022-06-23 21:56] cbrake opened #506 "v0.6.1 downloads still show v0.6.0"
# Describe the bug

Hi, thanks for the new release -- look forward to trying it!

Recently downloaded v0.6.1 but when it still shows v0.6.0 when I run it:

[code]

[2022-06-24 04:07] Oreolek commented on #506
Even the latest git builds v0.6.0.

(It wouldn't be so serious if it was just a number but it **does** have described bugs - the Inbox is empty and the db can't update without a manual version fix)

[2022-06-24 12:12] cbrake commented on #439
behavior in Thunderbird seems much better now. Before, messages would not get marked as read, and when I would delete messages, some would come back. I don't see any problems in thunderbird with 0.6.1 (binary says v0.6.0, but I assume it has the v0.6.1 changes). Now, its my Android k-9 mail client that is acting up ...

[2022-06-24 14:10] cbrake opened #509 "maddy imap-msgs list crashes"
# Describe the bug

[code]

# Steps to reproduce

See above.

Using sqlite db.

# Configuration file

[code]

# Environment information

built from source, bbaea0400e5c89835ca6d04f0f84c036e9a3922a, tag v0.6.1

[2022-06-25 09:52] foxcpp commented on #506
Oh no. Technically, it is just the version marker - I forgot to update .version file before tagging 0.6.1.

[2022-06-25 12:23] foxcpp commented on #509
Should be fixed in [8463ee1](https://github.com/foxcpp/maddy/commit/8463ee1da6ff091b606466ca4a5113ba03d39d17).

[2022-06-25 13:05] foxcpp opened #510 "maddy imap-msgs remove is no-op"

[2022-06-25 14:16] foxcpp commented on #501
PostgreSQL logs help figuring out why the DB is in recovery mode.

These instructions would depend on what kind of "corruption" it is.

[2022-06-25 15:03] angelnu commented on #501
The DB seems to have recovered in the meanwhile: I can now empty the trash folder and I do not longer see any error log in Maddy.

So closing - thanks.

[2022-06-25 15:03] #501 closed, assigned to nobody

[2022-06-27 14:48] cbrake commented on #509
works, thanks!

[2022-06-27 14:48] #509 closed, assigned to foxcpp

[2022-06-27 19:54] foxcpp opened #512 "0.6.x breaks caching clients that connected to 0.5.x in the past"
For some reason, clients do not show all messages if the database was created in 0.5.
Freshly created databases in 0.6 do not have the same issue.

Different clients show different messages, `maddy imap-msgs` correctly shows all messages.
If a new message is added, some (?) clients refresh and show all messages again.

[2022-06-27 20:00] foxcpp commented on #512
Excerpt from protocol trace with Thunderbird client:
[code]

Horribly broken in multiple obvious ways (duplicate sequence numbers, UID not sorted)

[2022-06-27 20:24] cbrake commented on #512
looks like you're on it! That explains why I'm seeing issues you did not see in testing.

[2022-06-27 22:16] foxcpp commented on #512
I pushed the commit to master that should fix the issue.

The issue was caused by go-imap-sql passing unsorted UIDs list to go-imap-mess which uses binary search and therefore misbehaves when given an unsorted input. The bug did not manifest itself in 0.6 testing because regular server operation keeps the database tables sorted already, however 0.5->0.6 schema upgrade reordered some UIDs, revealin

[2022-06-28 12:27] cbrake commented on #512
working here -- thanks!

[2022-06-29 19:41] mfashby-tailscale opened #513 "Arch linux 3rd party repository seems down"
# Describe the bug

Installation instructions for arch linux point to a custom repository https://foxcpp.dev/archlinux/

Unfortunately this URL is redirecting me here https://ww01.foxcpp.dev/?pid=9POT3387I&pbsubid=cadb44b3-07c2-c0e6-142f-6c5003500be6&noads=http%3A%2F%2Fww01.foxcpp.dev%2F%3Fskipskenzo%3Dtrue

And I promptly get a certificate error, as the cert is issued to 'testexp'

# Steps to rep

[2022-07-01 21:44] #512 closed, assigned to foxcpp

[2022-07-01 21:44] foxcpp commented on #510
Fixed in 0.6.2.

[2022-07-01 21:44] #510 closed, assigned to foxcpp

[2022-07-01 21:44] foxcpp commented on #506
0.6.2 is released with correct version info.

[2022-07-01 21:44] #506 closed, assigned to foxcpp

[2022-07-01 21:45] foxcpp commented on #513
Arch Linux repository was dead for good for a while. I will get it back together during this weekend.

[2022-07-02 21:25] MFAshby commented on #513
Thanks, this looks fixed, at least links from documentation take you to a working site :)

[2022-07-03 13:53] foxcpp commented on #513
Repository is back and updated with latest maddy release.

[2022-07-03 13:53] #513 closed, assigned to foxcpp

[2022-07-09 09:31] foxcpp commented on #295
postgrey uses SHA1(sender subnet (/24 or /64), normalized sender address, recipients list) as a greylist key.
Sender address is stripped of VERP and BATV tags.

[2022-07-09 15:36] xdkaka opened #517 "Send Email Error: reject directive used"
# Describe the bug

What do you think is wrong?
Send Email Error
error: reject directive used

client_loop: send disconnect: Broken pipe

# Steps to reproduce

# Log files

smtp: listening on tcp://0.0.0.0:25
submission: listening on tls://0.0.0.0:465
submission: listening on tcp://0.0.0.0:587
smtp: Mail	{"from":"addmin@mail.com"}
smtp: Rcpt	{"to":"xxx@gmail.com"}
smtp: incoming message	{"msg_id":

[2022-07-09 18:08] foxcpp commented on #517
Outbound messages from local domains should be sent via Submission endpoint - port 465 with implicit TLS or port 587 with STARTTLS.

[2022-07-10 02:32] xdkaka commented on #517
Yes, I had try 587,
It say:
[code]

And I have find the resaon, I had change go-smtp  pachage because I use haproxy for proxy to verify spf

go-smtp server.go
[code]

go-smtp server.go
[code]

[2022-07-10 09:29] foxcpp commented on #517
Not sure how sending outbound messages is related to SPF. Could you provide more details about your setup and what you are trying to do?

[2022-07-12 12:59] xdkaka commented on #517
Sending emails has nothing to do with spf. The changed proxy is because of the receipt, I use haproxy transparent forwarding email, This change affects the sending.

[2022-07-13 11:43] #517 closed, assigned to nobody

[2022-07-15 01:52] infogulch commented on #369
This block seems to be resolved in https://github.com/emersion/go-smtp/pull/148

[2022-07-15 22:05] infogulch commented on #369
It looks like Caddy 2 currently supports the PROXY protocol via the [caddy-l4](https://github.com/mholt/caddy-l4j) app (see linked discussion). So Caddy is in good company with other proxies that will support this mail reverse-proxy configuration.

From OP:

From README.md:

Will a plain PROXY-based reverse proxy still allow maddy to serve all of these these auxiliary protocols?

- [ ] [DKIM](http

[2022-07-26 18:55] almdandi opened #518 "Unable to parse the date"
# Describe the bug

Maddy somehow is unable to parse the date. I looked a little bit around in the maddy and golang code and i think the problem is related to a missing sign in front of the timezone. Unfortunately i could find the right layout for the time.Parse for my given date string, to make a pull reqeust.

# Logs

DATA error      {"date":"Tue, 26 Jul 2022 17:52:00 0000","modifier":"submissio

[2022-07-28 12:37] biancalana opened #520 "Dynamic message blob path support"
# Use case
I'm evaluating maddy for my personal mailserver. I've loved the simplicity and great number of features related to a modern mailserver setup ! Even for personal mailserver its common to have thousand of emails on each mailbox. In my case I have a quite long historic os my mail (almost 20 years) so it's common to have thousand of emails on a folder.

# What problem you are trying to solv

[2022-07-28 21:06] foxcpp commented on #520
With the current maddy design, it would not be easily feasible. The only way I see is to create a way to pass a map of placeholders via context.Context. And I agree that it would be useful and should be implemented.

I believe the performance impact would not be significant for FS implementations based on B-tree structure or similiar. This includes, for example, ext4 which is the most common FS.

[2022-08-10 03:36] Neustradamus opened #526 "SCRAM-SHA-1(-PLUS) + SCRAM-SHA-256(-PLUS) + SCRAM-SHA-512(-PLUS) + SCRAM-SHA3-512(-PLUS) supports"
Dear @foxcpp,

Can you add supports of :
- SCRAM-SHA-1
- SCRAM-SHA-1-PLUS
- SCRAM-SHA-256
- SCRAM-SHA-256-PLUS
- SCRAM-SHA-512
- SCRAM-SHA-512-PLUS
- SCRAM-SHA3-512
- SCRAM-SHA3-512-PLUS

You can add too:
- SCRAM-SHA-224
- SCRAM-SHA-224-PLUS
- SCRAM-SHA-384
- SCRAM-SHA-384-PLUS

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant,

[2022-08-28 20:33] the-maldridge opened #529 "LDAP Config loading results in panic"
# Describe the bug
Attempting to use `auth.ldap` results in a panic on config load.

# Steps to reproduce

Configure ldap, I don't think it actually matters if the server is up because maddy panics before then:

[code]

# Log files

[code]

# Configuration file

[code]

# Environment information

* maddy version: 0.6.2 via docker.

[2022-08-31 13:39] t3hmrman opened #530 "SPF reported as failing due to allowing all when it is disallowed"
# Describe the bug

Maddy is reporting a `MAIL FROM` address as having SPF insecurely set (allowing "all"?) when it does not.

Note that other emails get through just fine (ex. GMail, ProtonMail).

# Steps to reproduce

The incoming mail path looks like this:

[code]

I'm trying to send an email from `sender.tld` to `recipient.tld`, with `sender.tld` being the MAIL FROM address on SES.

The email

[2022-08-31 23:27] the-maldridge commented on #529
Further testing has shown that the `bind` parsing is just broken.  I have changed my config from `bind unauth` to not having the bind keyword present and things mostly work now.  I am not really sure why this breaks, because reading the code nothing looks obviously off.

[2022-09-01 07:07] AlphaJack commented on #529
Mine is

[code]

so it automatically tries to bind with the credentials the user provides.

[2022-09-01 07:38] the-maldridge commented on #529
@AlphaJack yes, I want to search though so that mailbox creation works (not that it does in my setup anyway with search, but I'm kind of chalking that up to auth_map/delivery_map appearing to be fundamentally broken.

[2022-09-08 22:50] sblinch opened #534 "Several new plugins/modules implemented"
I've made some additions to Maddy that were essential for my own deployment; I'm not sure if any of these would be useful to anyone else, or appropriate for the Maddy core, but I thought I'd offer them up for review just in case. I wouldn't consider them heavily battle-tested, but they've been in production for about 6 months on my own low-volume mail server.

Complete change list is [here](https:

[2022-09-09 10:39] foxcpp commented on #530
Note the src_ip in maddy log being 10.244.206.187. That's probably the internal network's address of your Haraka server. maddy is trying to match that against sender.tld SPF record which fails.

In order to correctly check SPF (and also DMARC, by the way), maddy needs to know the actual IP address of the sender. maddy currently does not support any protocol extensions (XCLIENT or PROXY) that would

[2022-09-09 12:29] t3hmrman commented on #530
Yep -- so this is running inside a Kubernetes cluster, and `PROXY` support *is* provided for the ingress controller.

Haraka will [at least accept the `PROXY` protocol](https://github.com/haraka/Haraka/blob/master/docs/HAProxy.md). For actually passing through the connection, I don't think it forwards the `PROXY` information....

Is there any way to use an external address?

[2022-09-09 21:49] cmd410 opened #535 "My maddy instance can send, but cannot receive mail"
# Describe the bug

I followed the [installation tutorial](https://maddy.email/tutorials/setting-up/), however my server can't receive mail. Outgoing mail works just fine, I've sent email to my gmail account ok, but receiving mail back was simply not possible. Google's mail delivery subsystem replied that message could not be sent due to `554 5.0.0 Internal server error (msg ID = 8647979a) `. Send

[2022-09-10 09:12] cmd410 commented on #535
Okay, I tested it again today and it worked. Didn't change anything really, that's a weird one.

[2022-09-10 09:12] #535 closed, assigned to nobody

[2022-09-11 16:12] foxcpp commented on #535
The log message mentions target.lmtp which is not used in the configuration file you provided.

[2022-09-11 16:54] foxcpp opened #536 "auth_map is no-op"
TL;DR @the-maldridge noticed that auth_map is not applied.

_Originally posted by @foxcpp in https://github.com/foxcpp/maddy/discussions/531#discussioncomment-3620287_

[2022-09-12 06:54] foxcpp commented on #534
Note that while it protects full message contents, storage.imapsql saves a lot of metadata in its database directly, therefore leaking information about the message, e.g. subject, sender, date, content-types.

[2022-09-12 07:04] foxcpp commented on #534
I will go over these in detail this weekend and see how (if) these can integrated into core.

[2022-09-12 21:55] sblinch commented on #534
Right! I should probably better document this. My use-case (which since changed, as I ended up needing to switch back to Dovecot for IMAP) was to host Maddy on a trusted server with full-disk encryption, but to use less-trusted S3 buckets for blob storage. This was just intended to add a crypto layer to Maddy's existing S3 support, but I built it as a module wrapper as it could be useful for other

[2022-09-16 20:00] Oreolek opened #540 "CreateMessage error when trying to add a message"
Tried to copy a message from another account.

The message in question is an old invoice email that starts like this:
[code]
So it announces itself like UTF-8 but actually it's UTF-8 displayed as Windows-1252 or so? Subject line is also malformed in a similar fashion. Also note the double `<head>` tag.

No error in log files, this is only what Thunderbird displays and Thunderbird truncated the res

[2022-09-20 09:43] foxcpp commented on #540
[code]

There is no empty line separating message header and body, hence maddy fails to parse it. Currently such messages cannot be stored or processed by maddy.

[2022-09-25 20:39] MFAshby commented on #190
I hit this, and it caused an error since the code tries to parse the value as an unsigned. This broke stuff for my inbox on some MUAs (alps webmail and evolution)
[code]

I'm not sure how it got to be negative. Is this column an optmization? It looks like it should match the number of messages in msgs table. Possible improvements;
1. set a check constraint on the database to fail if the msgscount

[2022-09-25 20:50] MFAshby commented on #190
Using evolution mail, deleting the only mail in my inbox seems to result in this behaviour quite reliably.
[code]

[2022-09-25 21:08] MFAshby commented on #190
Enabled debug logging with `debug yes` directive. I'm running backed by postgresql.

[maddy.log](https://github.com/foxcpp/maddy/files/9641795/maddy.log)

[2022-09-25 21:16] MFAshby commented on #190
Maybe I have some kind of data consistency problem; there are many rows in the `flags` table without a corresponding row in the `msgs` table:
[code]

edit: I definitely have a consistency problem, but based on the implementation in go-imap-sql, I am somehow missing a foreign key constraint and a cascade on the `flags` table:

https://github.com/foxcpp/go-imap-sql/blob/df3b66a5b04f4036237d7b150c134

[2022-10-04 15:47] pouriya opened #543 "No maddyctl in tar.zst file"
Hi. The [documentation](https://maddy.email/tutorials/setting-up/#installing-maddy) says that there should be an executable `maddyctl` inside tarball but it seems that there is no such file there.

# Log files
[code]

* maddy version: 0.6.2

[2022-10-05 19:25] foxcpp commented on #543
Woops, another maddyctl mention I forgot to update. Since 0.6, maddyctl is part of maddy executable. e.g. `maddyctl whatever` is `maddy whatever`.

[2022-10-13 03:46] pouriya commented on #543
Hmmmmm. I happens dude. I just opened #545

[2022-10-13 03:46] #543 closed, assigned to nobody

[2022-10-23 07:54] angelnu opened #546 "Maddy hangs after several hours/days - potential LDAP issue"
# Describe the bug

Since I deployed Maddy several months ago I noticed that after some time I would get no emails. Restarting Maddy solves the issues. As I have a backup server and this does not happen that frequent I have not investigated it further until today.

Since it happened this evening and I still had the logs handy I noticed that after the Maddy restart I would not see incoming emails B

[2022-10-26 17:59] foxcpp commented on #546
Good catch, PRs are welcome!

[2022-10-26 22:57] angelnu commented on #546
I will submit a PR - do you have a preference on which of the 2 proposals you preffer?

[2022-10-28 18:37] Sohalt opened #548 "Feature request: JSON config format"
# Use case

Maddy's uses a custom config format. This makes it hard to integrate maddy with solutions for automatic configuration management (both generating maddy config or parsing maddy config). NixOS for example can very easily generate JSON from it's structured module system, but it is much harder to generate the current maddy config format in a meaningful way from nix.

# Your idea for a solu

[2022-10-28 18:58] vtolstov commented on #548
I'm not agree with json. Yaml more suitable for config file

[2022-10-28 19:03] Sohalt commented on #548
The goal is not to write JSON by hand, but to have a widely used format that's easy to parse and generate from various tools to build automation around maddy config. Also since YAML is a superset of JSON, any valid JSON is also valid YAML (but not the other way around).

[2022-10-30 00:04] tetsumaki opened #549 "Emails in RainLoop are not displayed"
# Describe the bug

Hello, emails are not displayed in RainLoop.
We can see that RainLoop detects the email (1) in the column, but it is not visible.
I have no problem with K-9 Mail.

# Steps to reproduce

I use the latest version of RainLoop: 1.17.0
Just click on `Inbox` and see that nothing appears.

# Log files

I use the default docker configuration with very few changes.

Log from RainLoop wh

[2022-10-30 15:06] #546 closed, assigned to nobody

[2022-11-14 14:05] #270 closed, assigned to nobody

[2022-11-20 08:57] xdkaka opened #550 "Feature request"
# Use case

What problem you are trying to solve?
I want to install multiple SMTP services in different IPs. When one ip fails to send emails, it will automatically switch to another server to send emails.

# Your idea for a solution

How your solution would work in general?
I can set ``target.smtp outbound_delivery `` multiple targets?
how should I do？Thank you

- [ ] I'm willing to help with the

[2022-11-20 23:07] Avamander opened #554 "Maximum length IDNs are not usable"
# Describe the bug

When an IDN is maximum length allowed, it will be rejected by maddy, even if it's otherwise technically usable and allowed.

For example `xn--oaoaaaoaoaoaooaoaoiuaiauiuaiauaaa-f1cadccdcmd01eddchqcbe07a.tld`, this is not a real domain just reproduces the problem. It just reaches the maximum length of 63 characters allowed for a label in punycode.

# Steps to reproduce

Add a max

[2022-11-23 10:11] sewnie commented on #461
re-producible by me, what do?

[2022-11-23 10:16] sewnie opened #555 "verifying github.com/libdns/gandi@v1.0.2: checksum mismatch"
# Describe the bug

can't build maddy

# Steps to reproduce
[code]

# Log files

[code]

# Environment information
* go version: 1.19.3

[2022-11-23 11:31] sewnie commented on #555
solved temporariliy with `export GOPROXY="https://proxy.golang.org,direct"`

[2022-11-26 12:19] foxcpp commented on #550
https://maddy.email/reference/targets/smtp/

[2022-11-26 12:36] foxcpp commented on #554
Interesting. Looks like maddy incorrectly checks the length in bytes for U-labels (that is, UTF-8) form instead of encoding to Punycode and checking that instead.

Byte length of UTF-8 encoded string 'äõäoaõoäaõaäõaoäaoaäõoaäooaoaoiuaiauäõiuüõaõäiauõaaa' is 71.

[2022-11-27 08:20] xdkaka commented on #550
Thank you

[2022-11-30 11:22] #550 closed, assigned to nobody